* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0px auto;
}

header {
    margin-top: 80px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 16px;
}

form {
    display: flex;
    margin: 40px auto;
    max-width: 100%;
    justify-content: space-around;
}

form input {
    background-color: white;
    font-size: 24px;
    padding: 8px;
    width: 500px;
    border-color:rgb(71, 71, 71);
}

form button {
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    color: white;
    font-weight: bold;
    border: none;
}

form button:hover {
    font-size: 24px;
    padding: 8px;
    background-color: rgb(71, 71, 71);
    color: white;
    font-weight: bold;
    border: none;
}

.lista {
    max-width: 320px;
    margin: 0 auto;
    font-size: 20px;
}

li {
    cursor: pointer;
}

.risco {
    text-decoration: line-through;
}